.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-40);
  align-items: center;
  justify-content: flex-start;

  padding-top: var(--space-64);

  // min-width: 32rem; на английском языке получается некрасивая форма
}
