// Dimensions / breakpoints
// When changing these, make sure to update the corresponding values (images.deviceSizes) in next.config.ts
$xxl: 1920px;
$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 430px;
$xxs: 360px;

// Container
$container-xl: 69.25rem; // 1108px
$container-md: 44.25rem; // 708px
$container-sm: 34rem; // 544px
